.corps_body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.corps_body .corps_container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
}
.corps_body .corps_container .corps_card{ 
    position: relative;
    width: 30vw;
    height: 70vh;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.09),
                inset -5px -5px 5px rgba(255, 255, 255, 0.9),
                5px 5px 5px rgba(0, 0, 0, 0.09),
                -5px -5px 5px rgba(255, 255, 255, 0.9);
    border-radius: 10px;  
    margin: 2.5rem;          
}
.corps_body .corps_container .corps_card .corps_box{ 
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    bottom: 1.25rem;
    left: 1.25rem;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.corps_body .corps_container .corps_card:hover .corps_box{
    transform: translateY(-2.5rem);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.4);
    background: linear-gradient(45deg,#14b0bb,#043c52);
}
.corps_body .corps_container .corps_card .corps_box .corps_content{
    padding: 2rem;
    display: inline;
    align-items: center;
}
.corps_body .corps_container .corps_card .corps_box .corps_content .tete{
    display: flex;
    align-items: center;
}
.corps_body .corps_container .corps_card .corps_box .corps_content .tete i{
    transform: scale(4.25);
    position: absolute;
    bottom: 20.5rem;
    left: 13.2rem;
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.7);
}
.corps_body .corps_container .corps_card .corps_box .corps_content .tete h1{
    color: rgba(0, 0, 0, 0.7);
}
.corps_body .corps_container .corps_card .corps_box .corps_content .tete #sket{
    left: 14.2rem;
}
.corps_body .corps_container .corps_card .corps_box .corps_content .tete #foo{
    left: 14.2rem;
}
.corps_body .corps_container .corps_card .corps_box .corps_content  a{
    background:rgb(74, 194, 194);
    position: relative;
    top: 1.5rem;
    font-size: 0.8em;
    padding: 0.5rem;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

}

.corps_body .corps_container .corps_card .corps_box .corps_content  p,
.corps_body .corps_container .corps_card .corps_box .corps_content .tete,
.corps_body .corps_container .corps_card .corps_box .corps_content  a {
    text-align: start;
    /* display: inline-flex; */
    margin: 0.5rem;
}
.corps_body .corps_container .corps_card .corps_box .corps_content  p{
    color: rgba(0, 0, 0, 0.8);
} 
.corps_body .corps_container .corps_card:hover .corps_box .corps_content  p,
.corps_body .corps_container .corps_card:hover .corps_box .corps_content  .tete i,
.corps_body .corps_container .corps_card:hover .corps_box .corps_content  .tete h1{
    color: #fff;
}
.corps_body .corps_container .corps_card:hover .corps_box .corps_content  a{
    background: #fff;
    color: #043c52;
}