<div class="corps_body">
    <div class="corps_container">
        <div class="corps_card">
            <div class="corps_box">
                <div class="corps_content">
                    <div class="tete">
                        <h1 class="Football">FootBall</h1>
                        <i id="foo" class="fas fa-football-ball"></i>
                    </div>    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eos totam aliquid facere neque aspernatur accusantium repellendus, doloribus, aliquam, illum quae dolorem magni! Minima, recusandae amet magni sed aperiam enim?</p>
                    <a href="#">View more</a>
                </div>
            </div>
        </div>
        <div class="corps_card">
            <div class="corps_box">
                <div class="corps_content">
                    <div class="tete">
                        <h1 class="BasketBall">BasketBall</h1>
                        <i id="sket" class="fas fa-basketball-ball"></i>
                    </div>    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eos totam aliquid facere neque aspernatur accusantium repellendus, doloribus, aliquam, illum quae dolorem magni! Minima, recusandae amet magni sed aperiam enim?</p>
                    <a href="#">View more</a>
                </div>
            </div>
        </div>
        <div class="corps_card">
            <div class="corps_box">
                <div class="corps_content">
                    <div class="tete">
                        <h1 class="Natation">Natation</h1>
                        <i class="fas fa-swimming-pool"></i>
                    </div>    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eos totam aliquid facere neque aspernatur accusantium repellendus, doloribus, aliquam, illum quae dolorem magni! Minima, recusandae amet magni sed aperiam enim?</p>
                    <a href="#">View more</a>
                </div>
            </div>
        </div>
    </div>
</div>